.main-container {
    background: linear-gradient(-45deg, #d7d7d7, #000000, #959595, #000000);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    padding: 3em;
    margin: none;
}

.main-title {
    color: white;
    font-size: 6em;
}

.main-subtext {
  color: white;
  font-style: italic;
}

.links-container {
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-weight: 700;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

a {
  color: white;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }